<!DOCTYPE html>
<html>
<head>
  <title>Возраст как искусство</title>
  <meta name="yandex-verification" content="5df1be7f6cddc618" />
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>

<body>
  <div class="container-fluid">
  	<div class="row header">
  		<div class="col-lg-2 col-md-2">
  		</div>
  		<div class="col-lg-8 col-md-10">
				<br>
  			<div class="row">
  				<div class="col-md-10 col-xs-8">
  					<p class="email_top">
    					<span class="glyphicon glyphicon-envelope"></span><b>  ageingforum2017@gmail.com</b>
   					</p>
   				</div>
   				<div class="col-md-1 col-xs-2">
   					<a href="https://vk.com/public54934808"><img src="../public/vk.png" class="vk center-block"></a>
   					<br>
   				</div>
   				<div class="col-md-1 col-xs-2">
   					<a href="https://www.facebook.com/AgeingConference/"><img src="../public/facebook.png" class="fb center-block"></a>
   					<br>
   				</div>
   			</div>
   		</div>
   		<div class="col-lg-2 col-md-1">
   		</div>
  	</div>
  	<div class="row">
			<div class="col-md-1 side">
  			<br>
  			<div class="sidebar-nav">
					<div class="navbar navbar-default" role="navigation">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
		      	</div>
		        <div class="navbar-collapse collapse sidebar-navbar-collapse">
		        	<ul class="nav navbar-nav">
		        		<li class="active"><a href="/"><b>Главная</b></a></li>
		        		<li><a href="views/about.html"><b>О проекте</b></a></li>
		        		<li><a href="views/partners.html"><b>Партнеры</b></a></li>
		        		<li><a href="views/contacts.html"><b>Контакты</b></a></li>
		        	</ul>
		        </div><!--/.nav-collapse -->
		      </div>
				</div>
  		</div>
  		<div class="col-lg-10 col-md-10">
  			<br>
  			<br> <!-- layout break line -->
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6 main">
              <h3>В ходе бесед «Возраст как искусство» звезды театра и кино обсудят особенности зрелого возраста, его преимущества и возможности.</h3>
              <br>
              <br>
              <p class="text-justify">Известные актеры поделятся личным опытом и мыслями о серебряном возрасте. Расскажут, как ощущают и видят себя в нем, какие позитивные стороны он открывает, и как оставаться активными и успешными в профессиональном и социальном плане.</p>
              <p class="text-justify">Участие в первой беседе примут народный артист РСФСР и СССР Юрий Соломин, народная артистка РСФСР Валентина Талызина, заслуженная артистка РСФСР Светлана Светличная, народный артист РСФСР Всеволод Шиловский. </p>
              <p class="text-justify">Мероприятие проходит в рамках специального проекта V Национальной конференции «Общество для всех возрастов» при организационном участии благотворительного фонда поддержки деятелей искусства  «Артист» и поддержке Благотворительного фонда Елены и Геннадия Тимченко, Райффайзенбанка, особняка на Волхонке, Gett.</p>
            </div>
            <div class="col-sm-5 col-offset-1">
              <img src="../public/talk.png" class="img-responsive">
            </div>
          </div>
           <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
        </div>
              <!-- layout continue -->
        </div>
      <div style="width: 30px;" class="hidden-sm">
      </div>
      </div>
    <div class="row contacts">
          <div class="col-lg-2 col-md-1">
          </div>
          <div class="col-lg-8 col-md-10">
            <br>
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6">
                  <p>Анастасия Щищенко</p>
                  <p><span class="glyphicon glyphicon-phone"></span> +7 (918) 005-72-82</p>
                  <p><span class="glyphicon glyphicon-envelope"></span> AShishchenko@prp.ru</p>
                  <br>
                </div>
                <div class="col-sm-6">
                  <p>Анна Беляева</p>
                  <p><span class="glyphicon glyphicon-phone"></span> +7 (985) 411-60-67</p>
                  <p><span class="glyphicon glyphicon-envelope"></span> ABelyaeva@prp.ru</p>
                  <br>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <p><span class="glyphicon glyphicon-envelope"></span> ageingforum2017@gmail.com</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-1">
          </div>
    </div>
    <div class="row footer">
      <div class="col-lg-2 col-md-1">
      </div>
      <div class="col-lg-8 col-md-10">
        <br>
        <p> © 2017 Все права защищены</p>
        <br>
      </div>
      <div class="col-lg-2 col-md-1">
      </div>
      </div>
  </div>
</body>
</html>