<!DOCTYPE html>
<html>
<head>
  <title>Возраст как искусство</title>
  <meta name="yandex-verification" content="5df1be7f6cddc618" />
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>

<body>
  <div class="container-fluid">
  	<div class="row header">
  		<div class="col-lg-2 col-md-2">
  		</div>
  		<div class="col-lg-8 col-md-10">
				<br>
  			<div class="row">
  				<div class="col-md-10 col-xs-8">
  					<p class="email_top">
    					<span class="glyphicon glyphicon-envelope"></span><b>  ageingforum2017@gmail.com</b>
   					</p>
   				</div>
   				<div class="col-md-1 col-xs-2">
   					<a href="https://vk.com/public54934808"><img src="../public/vk.png" class="vk center-block"></a>
   					<br>
   				</div>
   				<div class="col-md-1 col-xs-2">
   					<a href="https://www.facebook.com/AgeingConference/"><img src="../public/facebook.png" class="fb center-block"></a>
   					<br>
   				</div>
   			</div>
   		</div>
   		<div class="col-lg-2 col-md-1">
   		</div>
  	</div>
  	<div class="row">
			<div class="col-md-1 side">
  			<br>
  			<div class="sidebar-nav">
					<div class="navbar navbar-default" role="navigation">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
		      	</div>
		        <div class="navbar-collapse collapse sidebar-navbar-collapse">
		        	<ul class="nav navbar-nav">
		        		<li class="active"><a href="/"><b>Главная</b></a></li>
		        		<li><a href="views/about.html"><b>О проекте</b></a></li>
		        		<li><a href="views/partners.html"><b>Партнеры</b></a></li>
		        		<li><a href="views/contacts.html"><b>Контакты</b></a></li>
		        	</ul>
		        </div><!--/.nav-collapse -->
		      </div>
				</div>
  		</div>
  		<div class="col-lg-10 col-md-10">
  			<br>
  			<br> <!-- layout break line -->
        <div class="row main">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-12">
                <h3>Партнеры</h3>
                <br>
                <br>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <a href="https://www.ageing-forum.org/ru/"><img src="../public/logo17.png" class="img-responsive"></a>
              </div>
              <div class="col-sm-8 offset-md-1">
                <h4><strong>Организатор:</strong> оргкомитет конференции «Общество для всех возрастов»</h4>
                <p class="text-justify">В 2017 году конференция «Общество для всех возрастов» пройдет в пятый раз. С 2013 года её участники – представители органов власти, бизнеса, некоммерческих и общественных организаций, российские и международные эксперты и СМИ, ежегодно встречаются, чтобы обменяться практическим опытом улучшения качества жизни пожилых людей. Результаты этой работы вносят реальный вклад в развитие системы поддержки пожилых людей на уровне государства.</p>
              </div>
            </div>
            <div class="row">
              <br>
              <br>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <a href="http://www.fond-artist.ru/"><img src="../public/artist.png" class="img-responsive"></a>
              </div>
              <div class="col-sm-8 offset-md-1">
                <h4><strong>Соорганизатор:</strong> Благотворительный фонд поддержки деятелей искусства «Артист»</h4>
                <p class="text-justify">Благотворительный фонд поддержки деятелей искусства «Артист» учрежден в 2008 году народным артистом России Евгением Мироновым, заслуженной артисткой РФ Марией Мироновой, народным артистом России Игорем Верником и продюсером Натальей Шагинян-Нидэм. Миссия Фонда – адресная помощь ветеранам-деятелям искусства, оказавшимся в сложной жизненной ситуации.</p>
              </div>
            </div>
            <div class="row">
              <br>
              <br>
            </div>
            <div class="row">
                                <div class="col-sm-3">
                                        <a href="http://timchenkofoundation.org/"><img src="../public/timchenko2.jpg" class="img-responsive"></a>
                                </div>
                                <div class="col-sm-8 offset-md-1">
                                        <h4><strong>Ключевой партнер:</strong> Благотворительный фонд Елены и Геннадия Тимченко</h4>
                                        <p class="text-justify">Благотворительный фонд Елены и Геннадия Тимченко один из крупнейших семейных фондов в России. Семья Тимченко занимается благотворительностью в России и за рубежом более 25 лет. В 2010 году с целью достижения долгосрочных результатов семейной благотворительности был создан Фонд Тимченко, программы которого реализуются с фокусом на развитии малых территорий. Деятельность Фонда направлена на поддержку активного долголетия, развитие непрофессионального детского спорта, решение проблемы социального сиротства, развитие регионов России средствами культуры, международное гуманитарное сотрудничество.</p>
                                </div>
                        </div>
                        <div class="row">
                                <br>
                                <br>
                        </div>
            <div class="row">
              <div class="col-sm-3">
                <a href="https://www.raiffeisen.ru/"><img src="../public/raiffaisen.jpg" class="img-responsive"></a>
              </div>
              <div class="col-sm-8 offset-md-1">
                <h4><strong>Официальный партнер:</strong> АО «Райффайзенбанк»</h4>
                <p class="text-justify">АО «Райффайзенбанк» является дочерней структурой Райффайзен Банк Интернациональ АГ. АО «Райффайзенбанк» занимает 14-е место по размеру активов по итогам первого полугодия 2017 года («Интерфакс-ЦЭА»). Согласно данным «Интерфакс-ЦЭА» АО «Райффайзенбанк» находится на 10-м месте в России по объему средств частных лиц и 7-м месте по объему кредитов для частных лиц по результатам первого полугодия 2017 года.</p>
              </div>
            </div>
             <div class="row">
              <br>
              <br>
              <br>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <a href="http://volkhonkamansion.ru/"><img src="../public/volhonka2.png" class="img-responsive"></a>
              </div>
              <div class="col-sm-8 offset-md-1">
                <h4><strong>Партнер:</strong> Особняк на Волхонке</h4>
                <p class="text-justify">Это удивительное место, где гармонично сочетаются история и современность. Это один из самых красивых реконструированных особняков XVIII века, бывшее здание Первой мужской гимназии. Расположился в самом центре Москвы, напротив Храма Христа Спасителя, по соседству с ГМИИ им. А.С. Пушкина, в 3 минутах от метро Кропоткинская. Сегодня это прекрасное место для проведения мероприятий, отвечающее всем современным требованиям и, в то же время, сохранившее исторический дух.</p>
              </div>
            </div>
            <div class="row">
              <br>
              <br>
              <br>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <a href="https://gett.com/ru/business/?utm_medium=talks&utm_source=event&utm_campaign=rub2b"><img src="../public/gett.png" class="img-responsive"></a>
              </div>
              <div class="col-sm-8 offset-md-1">
                <h4><strong>Организационный партнер:</strong> Gett</h4>
                <p class="text-justify">Gett – международный мобильный сервис по заказу такси и экспресс-доставки для частных и корпоративных клиентов. Компания работает более чем в 100 городах мира, включая Лондон, Москву, Санкт-Петербург и Нью-Йорк и предоставляет пользователям неизменно высокое качество сервиса.<br>
        Являясь лидером на корпоративном рынке, Gett предлагает решение с полным циклом, позволяющее оптимизировать ресурсы и затраты и максимально автоматизировать процесс заказа такси и услуг экспресс-доставки.</p>
              </div>
            </div>
            <div class="row">
              <br>
              <br>
              <br>
            </div>
          </div>
        </div>
  
               <!-- layout continue -->
        </div>
      <div style="width: 30px;" class="hidden-sm">
      </div>
      </div>
    <div class="row contacts">
          <div class="col-lg-2 col-md-1">
          </div>
          <div class="col-lg-8 col-md-10">
            <br>
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6">
                  <p>Анастасия Щищенко</p>
                  <p><span class="glyphicon glyphicon-phone"></span> +7 (918) 005-72-82</p>
                  <p><span class="glyphicon glyphicon-envelope"></span> AShishchenko@prp.ru</p>
                  <br>
                </div>
                <div class="col-sm-6">
                  <p>Анна Беляева</p>
                  <p><span class="glyphicon glyphicon-phone"></span> +7 (985) 411-60-67</p>
                  <p><span class="glyphicon glyphicon-envelope"></span> ABelyaeva@prp.ru</p>
                  <br>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <p><span class="glyphicon glyphicon-envelope"></span> ageingforum2017@gmail.com</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-1">
          </div>
    </div>
    <div class="row footer">
      <div class="col-lg-2 col-md-1">
      </div>
      <div class="col-lg-8 col-md-10">
        <br>
        <p> © 2017 Все права защищены</p>
        <br>
      </div>
      <div class="col-lg-2 col-md-1">
      </div>
      </div>
  </div>
</body>
</html>